<!--AN ORDERED LIST FOR THE ARTICLES POSTED-->
<ol class="post-list">
  <!--USES HANDLEBARS EACH TO ITERATE THROUGH THE ARRAY OF POSTS; 
    DEFINES POST AS A VARIABLE TO MAKE DYNAMIC CONTENT BELOW MORE SEMANTIC;
    USES POST-INFO PARTIAL TO DEFINE CONTENT-->
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>