<!--GET THE INFORMATION FOR THE INDIVIDUAL REQUESTED POST USING THE POST-INFO PARTIAL-->
{{> post-info post }}

<!--COMMENT FORM AND UPVOTE BUTTON-->
<!--DISPLAYED ONLY FOR LOGGED IN USERS-->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

<!--DISPLAY ALL THE COMMENTS ON THE POST USING THE COMMENTS PARTIAL VIEW-->
{{> comments post.comments}}

<!--SCRIPTS FOR ADDING A COMMENT AND ADDING AN UPVOTE-->
<!--ONLY LOADED FOR A LOGGED IN USER-->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}